@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', cursive;
    color: white;
    /* background: #092756; */
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
.input-container {
    background-color: rgba(0, 0, 0, 0.212);
    display: flex; 
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.212)
}
.input-fields {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 30vw;
}
#tdDate {
    font-size: 3vw;
}
input[type="date"]::-webkit-clear-button {
    display: none;
}
input[type="date"]::-webkit-inner-spin-button {
    height: 2vw;
    color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
input[type='date'] {
    -webkit-appearance: none; 
}
.input-fields h1 {
    font-size: 3.2vw;
    margin: 10px 5px;
}
.input-fields input {
    font-family: inherit;
    width: 24vw;
    height: 2vw;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 4vw;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
.input-fields input:focus { 
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); 
}
.aver-weight {
    position: relative;
}
.aver-weight input {
    padding-right: 18px;
    width: 20vw;
    
}
.aver-weight::before {
    position: absolute;
    top: 5px;
    content: 'lbs';
    right: 6vw;
    font-size: 3.7vw;
}
.fin-weight {
    position: relative;
}
.fin-weight input {
    padding-right: 18px;
    width: 20vw;
    
}
.fin-weight::before {
    position: absolute;
    top: 5px;
    content: 'lbs';
    right: 6vw;
    font-size: 3.7vw;
}
.rate-gain {
    position: relative;
    
}
.rate-gain input {
    padding-right: 18px;
    width: 70%;
    
}
.rate-gain::before {
    position: absolute;
    top: 17%;
    content: 'lbs/day';
    right: 17%;
    font-size: 3vw;
}
.cost-gain {
    position: relative;
}
.cost-gain input {
    padding-right: 18px;
    width: 70%;
}
.cost-gain::before {
    position: absolute;
    top: 5px;
    content: '/lb';
    right: 6vw;
    font-size: 3.7vw;
}
.death-loss {
    position: relative;
}
.death-loss input {
    padding-right: 18px;
    width: 70%;
}
.death-loss::before {
    position: absolute;
    top: 5px;
    content: '%';
    right: 6vw;
    font-size: 3.7vw;
}
.output-container {
    background-color: rgba(17, 34, 49, 0.212);
}
.proj-dates {
    display: flex; 
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.proj-dates h1 {
    font-size: 4.2vw;
    margin: 10px 5px; 
}
.proj-dates p {
    font-family: inherit;
    width: 39vw;
    height: 4vw;
    margin: 0px 3vw 0 0;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 4vw;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}   
.sell-bid {
    position: relative;
    display: flex; 
    flex-direction: column;
    
}
.sell-bid h1 {
    font-size: 4.2vw;
    margin: 10px 5px; 
}
.sell-bid input {
    font-family: inherit;
    width: 39vw;
    height: 6.5vw;
    margin: 0px 3vw 0 8vw;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px 0px 10px 28px;
    font-size: 6vw;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}
.sell-price {
    position: relative;
    display: flex;
    flex-direction: row;
    margin:  5vw 0;
}
.sell-price::before {
    position: absolute;
    top: 10px;
    content: '$';
    right: 44vw;
    font-size: 6vw;
}
.sell-price h1 {
    font-size: 4.5vw;
    margin: 4vw 8vw 0 3vw;
    width: 28vw;
}
.bid-price {
    position: relative;
    display: flex; 
    flex-direction: row; 
    margin: 5vw, 0;
}
.bid-price::before {
    position: absolute;
    top: 10px;
    content: '$';
    right: 44vw;
    font-size: 6vw;
}
.bid-price h1 {
    margin: 3vw 0 0 3vw;
    width: 28vw;
    font-size: 4.5vw;
}
.inc-but {
    display: flex;
    flex-direction: column; 
    margin: 0 0 0 10vw;
}
#bd-pr {
    margin: 0 3vw 0 0vw;
    width: 40vw;
}
.inc-but button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer; 
    text-align: center;
    margin: 1vw 4vw 0 0;
    outline: none;
}
.inc-but .fa-plus:before, .fa-minus:before {
    font-size: 6vw;
    text-shadow: 5px 5px 11px black;
}
.final-output {
    display: flex;
    margin: 5vw 10vw 5vw 5vw;
    justify-content: center;
}
.break-even {
    display:flex;
    flex-direction: column;
    justify-content: center; 
    margin-left: 30px;
}
.profit {
    display:flex;
    flex-direction: column;
    justify-content: center; 
}
#feeder-be {
    font-family: inherit;
    width: 39vw;
    height: 6.5vw;
    margin: 0px 3vw 0 0vw;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 5.5vw;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}
#profit-output  {
    font-family: inherit;
    width: 39vw;
    height: 6.5vw;
    margin: 0px 3vw 0 0vw;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 5.5vw;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}
button {
    background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
    position: relative;
	padding: 5px 40px;
    margin: 0px 10px 10px 95px;
	border-radius: 10px;
	font-size: 5.5vw;
	color: #FFF;
    text-decoration: none;	
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    outline: none;
}
