.input-container {
    background-color: grey;
    display: flex; 
    flex-direction: row;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.output-container {
    background-color: rgb(168, 211, 251);
    

}