@import url('https://fonts.googleapis.com/css?family=Carter+One');

body {
    font-family: 'Carter-One', cursive;
}

.input-container {
    background-color: rgb(147, 251, 129);
    display: flex; 
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 30vw;
    font-size: 1.7vw;
}
.input-fields h1 {
    margin: 2vw auto;
}
.input-fields input {
    font-family: inherit;
}

.output-container {
    background-color: rgb(168, 211, 251);
    

}